Schematy XML - wzorce, przestrzenie nazw/zad3.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="litery" type="typ_litery" />
	
	<xsd:complexType name="typ_litery">
		<xsd:sequence>
			<xsd:element name="definicja" type="typ_definicja" />
		</xsd:sequence>
	<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>

<xsd:simpleType name="typ_definicja">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2,6}" />
		</xsd:restriction>
	</xsd:simpleType>


</xsd:schema>
