Schematy XML - typy proste, złożone i wbudowane/zad2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd= "http://www.w3.org/2001/XMLSchema">
<!-- deklaracja elementu glownego i przestrzeni nazw 
-->
<!-- dalej definicje typow, deklaracje elementow i 
atrybutow -->
	<xsd:element name="zamowienie">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cena" type= "xsd:float" maxOccurs="1"/>
				<xsd:element name="adres" type="xsd:string" maxOccurs="1"/>
				<xsd:element name="kontakt" type="xsd:string" maxOccurs="unbounded"/>
				<xsd:element name="towar" type="xsd:string" minOccurs="1" maxOccurs="12" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
