lab5/zad4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd=
"http://www.w3.org/2001/XMLSchema">
<!-- deklaracja elementu glownego i przestrzeni nazw 
-->
<!-- dalej definicje typow, deklaracje elementow i 
atrybutow -->
	<xsd:element name="szkola">
		<xsd:complexType>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="nauczyciel" type= "xsd:string" minOccurs="3" maxOccurs="3"/>
				<xsd:element name="dyrektor" type= "xsd:string"/>
			</xsd:choice>
				<xsd:element name="wicedyrektor" type="xsd:string" minOccurs="2" maxOccurs="2"/>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
