lab3/zad6.dtd

<!ELEMENT korzen (wezel|lisc|galaz)>
<!ELEMENT wezel ((wezel,wezel) | (lisc,lisc) |(wezel, lisc)| (lisc,wezel))>
<!ELEMENT lisc (#PCDATA)>
<!ELEMENT galaz (#PCDATA)>
<!ATTLIST korzen kolor (czarny)  #FIXED "czarny">
<!ATTLIST wezel kolor (czerwony | czarny) #REQUIRED>
<!ATTLIST lisc kolor (czarny) #FIXED "czarny">
